################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.bmp
*.db-wal
*.json
*.suo
*.db
*.opendb
*.exe
*.apk
*.db-shm
*.xml
*.dll
*.config
*.manifest
*.vsdconfig
*.yes
*.txt
*.key
*.lib
*.sln
*.mp4
*.bat
*.radata
*.user
*.filters
*.vcxproj
*.pdb
*.exp
